<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>RainCheck Activities</title>
    <script>
        // JavaScript function to change the saved icon and href based on the page title
        function updateSavedIcon() {
            var title = document.title; // Get the current page title

            var savedIcon = document.getElementById("icon-image");
            var savedLink = document.getElementById("icon-link"); // Get the anchor tag

            // Set the image source and href based on the title
            if (title === "RainCheck") {
                savedIcon.src = "https://i.ibb.co/rHXmBFs/list-icon.png";
                savedLink.href = "/activities";
            } else if (title === "RainCheck Activities") {
                savedIcon.src = "https://i.ibb.co/Qb9zzTY/back-arrow.png";
                savedLink.href = "/";
            } else {
                // Default case if title doesn't match expected values
                savedIcon.src = "https://i.ibb.co/rHXmBFs/list-icon.png";
                savedLink.href = "/";
            }
        }

        // Call the function once when the page loads
        window.onload = function() {
            updateSavedIcon();
        };
    </script>
</head>
<body>
<header th:replace="header :: header"></header>
<main>
    <div id="main-block">
        <div class="row">
            <h2>My Saved Activities</h2>
            <a th:href="@{/activities/new}" class="button"><p>Add New</p></a>
        </div>
        <div id="all-activities">
            <div class="activity-container" th:each="activity : ${activities}">
                <h3 th:text="${activity.name}"></h3>
                <p th:text="${activity.description}"></p>
                <div class="row-activity">
                    <p th:text="${activity.getConditionString}" alt="conditions"></p>
                    <span>Ideal Temperature: </span>
                    <p th:if="${activity.temperature == null}" alt="temperature">Any</p>
                    <p th:text="${activity.temperature}" alt="temperature"></p>
                    <span>Ideal Wind Speed: </span>
                    <p th:if="${activity.windSpeed == null}" alt="wind speed">Any</p>
                    <p th:text="${activity.windSpeed}" alt="wind speed"></p>
                </div>
                <a th:href="@{/activities/edit(activityId=${activity.id})}">Edit</a>
                <form th:action="@{/activities/delete/{id} (id=${activity.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>

</main>
<footer th:replace="footer :: footer"></footer>
</body>
</html>