<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Activity</title>
</head>
<body>


    <form action="#" th:action="@{/activities}" th:object="${activity}" method="post">
        <div class="title">Add New Activity</div>

        <div class="input-container ic1">
            <label for="activity" class="placeholder">Activity:</label>
            <div class="cut"></div>
            <input id="activity" class="input" type="text" placeholder=" " />
        </div>
        <div class="input-container ic2">
            <p class="placeholder">Ideal Weather:</p>
            <div class="cut"></div>
            <div class="options-container">
                <ul>
                    <li th:each="condition : ${conditions}">
                        <input type="checkbox"
                               th:field="*{conditions}"
                               th:value="${condition.id}"
                               id="${condition.id}" />
                        <label th:for="${condition.id}"
                               th:text="${condition.name}"></label>
                    </li>
                </ul>
            </div>

        </div>
        <div class="input-container ic2">
            <label for="ideal-temperature" class="placeholder">Ideal Temperature (°C):</label>
            <div class="cut cut-short"></div>
            <input id="ideal-temperature" class="input" type="number" min="-15" max="40" placeholder=" " />
        </div>
        <div class="input-container ic2">
            <label for="ideal-wind" class="placeholder">Ideal Wind Speed (mph):</label>
            <div class="cut cut-short"></div>
            <input id="ideal-wind" class="input" type="number" min="0" max="175" placeholder=" " />
        </div>
        <button type="submit" class="submit">submit</button>
        <button type="reset">Reset</button>
    </form>

</body>
</html>