<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <script src="/js/header.js"></script>
    <title>RainCheck</title>
</head>
<body>
<header th:replace="header :: header"></header>
<main>
<form action="#" th:action="@{/activities}" th:object="${activity}" method="post" id="new-act-form">
    <h2>Add New Activity</h2>
    <input type="hidden" th:field="*{id}"/>
    <div class="name-desc">
        <div class="input-container">
            <label for="name" class="placeholder">Activity Name:</label>
            <input id="name" class="input" type="text" th:field="*{name}" placeholder="Walk the dog in the park" required/>
        </div>
        <div class="input-container column">
            <label for="description" class="placeholder">Description:</label>
            <textarea id="description" class="input" th:field="*{description}" placeholder="I should probably get a dog first." required></textarea>
        </div>
    </div>
    <div class="input-container column">
        <p class="placeholder">Ideal Weather:</p>
        <div class="options-container">
            <div class="all-options">
                <ul>
                    <li th:each="condition : ${conditions}">
                        <input type="checkbox"
                               th:field="*{conditions}"
                               th:value="${condition.id}"
                               th:id="${condition.id}"
                               th:checked="${activity.conditions != null and #lists.contains(activity.conditions, condition)}">
                        <label th:for="${condition.id}"
                               th:text="${condition.name}"></label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-container temp-wind">
            <label for="ideal-temperature" class="placeholder">Ideal Temperature (°C):</label>
            <input id="ideal-temperature" class="input" type="number" th:field="*{temperature}" min="-15" max="40" placeholder=" "/>
        </div>
        <div class="input-container temp-wind">
            <label for="ideal-wind" class="placeholder">Ideal Wind Speed (mph):</label>
            <input id="ideal-wind" class="input" type="number" th:field="*{windSpeed}" min="0" max="175" placeholder=" "/>
        </div>
    </div>
    <br>
    <div class="row buttons-row">
        <button type="reset" class="button"><p>reset</p></button>
        <button type="submit" class="submit button"><p>submit</p></button>
    </div>
</form>

</main>
<footer th:replace="footer :: footer"></footer>
</body>
</html>