<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RainCheck</title>
</head>
<header>
    <nav id="nav-container">
        <div id="header-logo" class="header-elemt">
            <a href="/">
                <img id="logo-image" alt="RainCheck-logo" src="https://i.ibb.co/VQp4jLw/raincheck-high-resolution-logo-transparent.png">
            </a>
        </div>
        <div id="saved-icon" class="header-elemt">
            <a id="icon-link" href="">
                <img id="icon-image" alt="Saved Activities Icon" src="">
            </a>
        </div>
    </nav>
</header>
</html>