<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta Information -->
    <meta charset="UTF-8">
    <!-- Page Title -->
    <title>RainCheck</title>
</head>
<header>
    <!-- Navigation Container -->
    <nav id="nav-container">
        <!-- Logo Section -->
        <div id="header-logo" class="header-elemt">
            <!-- Link to Index Page -->
            <a href="/">
                <!-- Logo Image -->
                <img id="logo-image" alt="RainCheck-logo" src="https://i.ibb.co/VQp4jLw/raincheck-high-resolution-logo-transparent.png">
            </a>
        </div>
        <!-- Saved Activities Icon Section -->
        <div id="saved-icon" class="header-elemt">
            <!-- Link to Saved Activities Page -->
            <a id="icon-link" href="">
                <!-- Saved Activities Icon Image -->
                <img id="icon-image" alt="Saved Activities Icon" src="">
            </a>
        </div>
    </nav>
</header>
</html>