<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RainCheck</title>
  <script>
    function updateActivityDetails() {
      const selectElement = document.getElementById("activity");
      const selectedOption = selectElement.options[selectElement.selectedIndex];
      const activityData = selectedOption.getAttribute('data-activity');

      if (activityData) {
        const selectedActivity = JSON.parse(activityData);

        document.getElementById("activityName").innerText = selectedActivity.name;
        document.getElementById("activityDescription").innerText = selectedActivity.description;
        document.getElementById("activityTemp").innerText = selectedActivity.temperature;
        document.getElementById("activityWindSpeed").innerText = selectedActivity.windSpeed;

        // Display conditions
        const conditions = selectedActivity.conditions.map(cond => cond.name).join(", ");
        document.getElementById("activityCond").innerText = conditions;

        // Display conditions
        const conditionCodes = selectedActivity.conditions.map(cond => cond.code).join(", ");
        document.getElementById("conditionCodes").innerText = conditionCodes;

      } else {
        document.getElementById("activityName").innerText = '';
        document.getElementById("activityDescription").innerText = '';
        document.getElementById("activityTemp").innerText = '';
        document.getElementById("activityWindSpeed").innerText = '';
        document.getElementById("activityCond").innerText = '';
        document.getElementById("conditionCodes").innerText = '';
      }
    }
    function checkStringContainment(a, b, resultElementId) {
        const resultElement = document.getElementById(resultElementId);
        if (!a || !b) {
            resultElement.innerText = "~";
        } else if (a.includes(b)) {
            resultElement.innerText = "The weather matches your preferences!";
        } else {
            resultElement.innerText = "The weather does not match your preferences.";
        }
    }

    function updateContainmentMessage() {
        const a = document.getElementById('conditionCodes').innerText;
        const b = document.getElementById('weatherCode').innerText;
        checkStringContainment(a, b, 'resultMessage');
    }
    document.addEventListener('DOMContentLoaded', updateContainmentMessage);
  </script>
</head>
<body>
<header th:replace="header :: body"></header>

<main>

  <div id="weather-block">
    <h2>Current Weather in Newcastle</h2>
    <div id="weather-icon">
      <img th:src="${weather_icon}" onerror="this.style.display = 'none';" alt="Weather Icon">
    </div>
    <div id="temp-wind">
      <p class="temp-wind-p"><span th:text="${weather.temperature}"></span> °C</p>
      <p class="temp-wind-p"><span th:text="${weather.wind_speed}"></span> mph</p>
    </div>
  </div>

  <div id="activity-block">
    <form action="#">
      <label for="activity">Today's Activity</label>
      <select name="activity" id="activity" onchange="updateActivityDetails(); updateContainmentMessage();">
        <option value="0" disabled selected>Select Activity</option>
        <option th:each="activity : ${activities}"
                th:attr="data-activity=${activity.toJson()}"
                th:text="${activity.name}">
        </option>
        <option value="add-new">Add New</option>
      </select>
    </form>
    <h3>Activity Details</h3>
    <p>Name: <span id="activityName"></span></p>
    <p>Description: <span id="activityDescription"></span></p>
    <p>Ideal Temperature: <span id="activityTemp"></span></p>
    <p>Ideal Wind Speed: <span id="activityWindSpeed"></span></p>
    <p>Ideal Conditions: <span id="activityCond"></span></p>

    <div id="conditionCodes" hidden></div>
    <div id="weatherCode" th:text="'[' + ${weather.weather_code} + ']'" hidden>Code</div>
    <div id="resultMessage"></div>
  </div>

</main>

<footer th:replace="footer :: body"></footer>

</body>
</html>
