<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <title>RainCheck</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr("#forecast_date", {
            dateFormat: "Y-m-d",
            minDate: "today",
            maxDate: new Date().fp_incr(14)
        });
    });
  </script>
  <script>
    function updateActivityDetails() {
      const selectElement = document.getElementById("activity");
      const selectedOption = selectElement.options[selectElement.selectedIndex];
      const activityData = selectedOption.getAttribute('data-activity');

      if (activityData) {
        const selectedActivity = JSON.parse(activityData);

        document.getElementById("activityDescription").innerText = selectedActivity.description;
        document.getElementById("activityTemp").innerText = selectedActivity.temperature;
        document.getElementById("activityWindSpeed").innerText = selectedActivity.windSpeed;

        // Display conditions
        const conditions = selectedActivity.conditions.map(cond => cond.name).join(", ");
        document.getElementById("activityCond").innerText = conditions;

        // Display condition codes
        const conditionCodes = selectedActivity.conditions.map(cond => cond.code).join(", ");
        document.getElementById("conditionCodes").innerText = conditionCodes;

      } else {
        document.getElementById("activityDescription").innerText = '';
        document.getElementById("activityTemp").innerText = '';
        document.getElementById("activityWindSpeed").innerText = '';
        document.getElementById("activityCond").innerText = '';
        document.getElementById("conditionCodes").innerText = '';
      }
    }

    // JavaScript function to change the saved icon and href based on the page title
    function updateSavedIcon() {
      var title = document.title; // Get the current page title

      var savedIcon = document.getElementById("icon-image");
      var savedLink = document.getElementById("icon-link"); // Get the anchor tag

      // Set the image source and href based on the title
      if (title === "RainCheck") {
        savedIcon.src = "https://i.ibb.co/rHXmBFs/list-icon.png";
        savedLink.href = "/activities";
      } else if (title === "RainCheck Activities") {
        savedIcon.src = "https://i.ibb.co/Qb9zzTY/back-arrow.png";
        savedLink.href = "/";
      } else {
        // Default case if title doesn't match expected values
        savedIcon.src = "https://i.ibb.co/rHXmBFs/list-icon.png";
        savedLink.href = "/";
      }
    }

    // Call the function once when the page loads
    window.onload = function() {
      updateSavedIcon();
    };

    function checkStringContainment(a, b, resultElementId) {
      const resultElement = document.getElementById(resultElementId);
      if (!a || !b) {
        resultElement.innerText = "Checking the weather...";
      } else if (a.includes(b)) {
        resultElement.innerText = "The weather matches your preferences!";
      } else {
        resultElement.innerText = "The weather does not match your preferences.";
      }
    }

    function updateContainmentMessage() {
      const a = document.getElementById('conditionCodes').innerText;
      const b = document.getElementById('weatherCode').innerText;
      checkStringContainment(a, b, 'resultMessage');
    }
    document.addEventListener('DOMContentLoaded', updateContainmentMessage);

    // Handle activity change and redirect if "Add New" is selected
    function handleActivityChange() {
      const activitySelect = document.getElementById('activity');
      const selectedValue = activitySelect.value;


      if (selectedValue === 'add-new') {
        window.location.href = '/activities/new';
      } else {
        updateActivityDetails();
        updateContainmentMessage();
      }
    }
  </script>
</head>
<body>
<header th:replace="header :: header"></header>
<main>
<!--  WEATHER BLOCK  -->
  <div id="weather-block">
    <h2 th:if="${userData.date.toString() == today}" th:text="'Weather for today in ' + ${userData.location}"></h2>
    <h2 th:if="${userData.date.toString() == tomorrow}" th:text="'Weather for tomorrow in ' + ${userData.location}"></h2>
    <h2 th:unless="${userData.date.toString() == today || userData.date.toString() == tomorrow}" th:text="'Weather for ' + ${#dates.format(userData.date, 'EEEE dd MMMM')} + ' in ' + ${userData.location}"></h2>
    <div class="weather-info">
      <div id="weather-icon">
        <img th:src="${weather_icon}" onerror="this.style.display = 'none';" alt="Weather Icon">
      </div>
      <div id="temp-wind">
        <p id="temp-p" class="temp-wind-p"><span th:text="${weather.temperature}"></span>°C</p>
        <p id="wind-p" class="temp-wind-p">wind: <span th:text="${weather.wind_speed}"></span> mph</p>
      </div>
    </div>
  </div>


  <!--  POSTCODE & DATE FORM / BLOCK  -->
  <div class="postcode-date-block">
    <form th:action="@{/update_settings}" th:object="${userData}" method="post" id="postcode-date-form">
      <div class="row">
        <input type="hidden" name="id" th:value="${userData.Id}">
        <input type="hidden" name="longitude" th:value="${userData.longitude}">
        <input type="hidden" name="latitude" th:value="${userData.latitude}">
        <input type="hidden" name="location" th:value="${userData.location}">
        <label for="postcode">Where?</label>
        <input type="text" id="postcode" name="postcode" th:value="postcode">
      </div>
      <div class="row">
        <label for="forecast_date">When?</label>
        <input type="date" id="forecast_date" th:field="*{date}" required>
      </div>
      <button class="button" type="submit"><p>Confirm</p></button>
    </form>
  </div>


<!--  ACTIVITY BLOCK  -->
  <div id="activity-block">
    <form action="#">
      <label for="activity">Pick an activity: </label>
      <select name="activity" id="activity" onchange="handleActivityChange()">
        <option value="0" disabled selected>Select Activity</option>
        <option th:each="activity : ${activities}"
                th:attr="data-activity=${activity.toJson()}"
                th:text="${activity.name}">
        </option>
        <option value="add-new">Add New</option>
      </select>
    </form>
    <p>Description: <span id="activityDescription"></span></p>
    <p>Ideal Temperature: <span id="activityTemp"></span><span>°C</span></p>
    <p>Ideal Wind Speed: <span id="activityWindSpeed"></span><span>mph</span></p>
    <p>Ideal Conditions: <span id="activityCond"></span></p>
  </div>


<!--  OUTPUT MESSAGE -->
  <div class="output-message">
    <div id="conditionCodes" hidden></div>
    <div id="weatherCode" th:text="'[' + ${weather.weather_code} + ']'" hidden>Code</div>
    <div id="resultMessage"></div>
  </div>
</main>

<footer th:replace="footer :: footer"></footer>

</body>
</html>