/* SAVED ACTIVITIES PAGE*/

#all-activities {
    max-height: 600px;
    overflow-y: auto;
}

.title-row {
    margin-left: 40px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.button {
    display: flex;
    width: 100px;
    height: 25px;
    justify-content: center;
    background-color: #FFB703;
    box-shadow: inset 0 0 4px #023047;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.button:hover {
    background-color: #d59500;
}

.button p {
    color: #023047;
    font-variant-caps: all-small-caps;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}

.activity-container {
    background-color: #023047;
    border-radius: 50px;
    margin: 1vw 10px 1vw auto;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.activity-top {
    justify-content: space-between;
}


h3 {
    color: #FFB703;
}

.buttons-row {
    gap: 5px;
    display: flex;
    justify-content: flex-end;
}

.edit {
    width: 50px;
}

.delete {
    width: 70px;
}

.description {
    font-style: italic;
}

.wind-speed-pair {
    gap: 5px;
    font-weight: 700;
}

.wind-speed-pair p {
    font-weight: 300;
    margin-top: 5px;
}

.cond-span {
    font-weight: 700;
}

.cond-span + p{
    line-height: 1.5;
    max-height: 100px;
    overflow-y: auto;
}