/* Footer styles */
footer {
    width: 812px;
    height: 40px;
    margin: 0 auto;
    background-color: #023047;
    align-content: center;
    position: fixed;
    bottom: 0;
}

/* Container within the footer */
#foo-container {
    display: flex;
    color: #fff;
    font-size: 0.8vw;
    justify-content: center;
    opacity: 50%;
}