header {
    width: 812px;
    height: 120px;
    margin: 0 auto;
    background-color: #219EBC;
    position: fixed;
}

#nav-container{
    height: inherit;
    background-color: #023047;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: space-between;
}

.header-elemt {
    margin: auto 3rem;
}

#header-logo {
    max-width: 300px;
}

#logo-image {
    max-width: 300px;
    object-fit: contain;
}
