/* NEW ACTIVITY PAGE */
#new-act-form {
    max-width: 80%;
    margin: 0 auto;
}
.input-container {
    display: flex;
    flex-direction: row;
    margin-top: 1.5vw;
    width: 100%;
    align-items: center;
}

.name-desc {
    max-width: 450px;
}

.column {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vw;
}

.placeholder {
    color: #023047;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 1.5 rem;
    font-weight: 500;
}

#description {
    width: 100%;
    min-height: 80px;
    border-radius: 15px;
    line-height: 1.5;
    padding: 10px;
    color: #023047;
    resize: both;
    vertical-align: top;
}

input[type="number"]{
    width: 50px;
}

.input-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.input-container input {
    margin-left: 2vw;
}

.options-container {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    overflow-y: auto;
    border-radius: 15px;
}

.all-options {
    background-color: #fff;
    border-radius: 15px;
    padding: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: contents;
}

.options-container li {
    display: flex;
    align-items: center;
    color: #023047;
}

.options-container input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 0;
}

.temp-wind {
    width: 300px;
    display: flex;
}